<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #efecf0;">
<div id="container" style=" width: 100%; height: 100%; padding-left: 20px; font-size: 14px; color: #4d4d4d;">
    <div id="head">
        您好:
    </div>
    <div id="content" style="padding-left: 40px;">
        <div id="tip" style="padding-top: 20px;">
            您所属单位的管理员对您的桌面重置了windows密码，请查看：
        </div>
        <div id="info" style="padding: 12px 0 10px;">
            <table border="0" cellspacing="2" cellpadding="0">
                <tr style="background-color: #fff; display: block; height: 28px; line-height: 28px; margin-bottom: 5px;">
                    <td width="150" style="padding-left: 10px;">桌面名称</td>
                    <td width="350">desktopName</td>
                </tr>
                <tr style="background-color: #fff; display: block; height: 28px; line-height: 28px; margin-bottom: 5px;">
                    <td width="150" style="padding-left: 10px;">Windows账户名称</td>
                    <td width="350">windowsUserName</td>
                </tr>
                <tr style="background-color: #fff; display: block; height: 28px; line-height: 28px;">
                    <td width="150" style="padding-left: 10px;">Windows账户密码</td>
                    <td width="300">password</td>
                </tr>
            </table>
        </div>
        <div id="bottom">
            <span id="loginAtOnce">
                请甄别是否为本人操作，如有问题请联系管理员，感谢您的支持！
            </span>
            <div id="logo">
                <img src="cid:logo"  alt="云办公管理平台"  style="width: 180px; height: 45px;" />
            </div>
        </div>
    </div>
</div>

</body>

</html>